  
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--讓畫面不要縮放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--讓js檔案可以載入https的函式庫-->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>訂位資訊</title>
    <!--載入LIFF api-->
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <!--載入JQuery-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <!--以下讓我們使用強大的日期選擇函式庫flatpickr-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/zh.js"></script>
    <!--載入booking.js檔-->
    <!--下面這段可以自動更換JS跟CSS的版本號加速開發速度-->
    <script>
        var mydate = (+new Date()).toString();
        $("head").append("<script src=\"{{ config.STATIC_URL }}/static/js/booking.js?version=" + mydate + "\"><\/script>");
        $("head").append("<link rel=\"stylesheet\" href=\"{{ config.STATIC_URL }}/static/css/booking.css?version=" + mydate + "\">")
    </script>
</head>

<body>
<img src="{{ config.STATIC_URL }}/static/img/訂位資訊_top.jpg?vision=1.2">
<br><br>
<table id="name" border="0" class="forms">
    <tr>
        <th rowspan="2" width="30%">姓名：</th>
        <th rowspan="2" width="40%"><input type="text" id="user_name"></th>
        <th rowspan="2" width="30%">
            <form>
                <input type="radio" name="sexuality" value="man" checked="true"> 先生<br>
                <input type="radio" name="sexuality" value="woman"> 小姐<br>
            </form>
        </th>
    </tr>
    <tr>
    </tr>
</table>
<br>

<table id="date_selector" border="0" class="forms">
    <tr>
        <th rowspan="2" width="30%">日期：</th>
        <td rowspan="2" width="40%" align="left" >
            <label id="book_date" for="date-picker" tabindex="0">好像出了點錯ㄛ</label>
        </td>
        <th rowspan="2" width="30%">
            <input type="date" class="form-control" id="date-picker">
        </th>
    </tr>
    <tr>
    </tr>
</table>

<br>

<table id="time_selector" border="0" class="forms">
    <tr>
        <th rowspan="2" width="30%">時間：</th>
        <td rowspan="2" width="40%" align="left" >
            <label id="book_time" for="time-picker" tabindex="0">好像出了點錯ㄛ</label>
        </td>
        <th rowspan="2" width="30%">
            <input type="time" class="form-control" id="time-picker">
        </th>
    </tr>
    <tr>
    </tr>
</table>

<br>

<table id="people_selector" border="0" class="forms">
    <tr>
        <th rowspan="2" width="30%" class="border">人數：</th>
        <th rowspan="2" width="13%" class="border" id="one"  >1</th>
        <th rowspan="2" width="13%" class="border" id="two"  >2</th>
        <th rowspan="2" width="13%" class="border" id="three">3</th>
        <th rowspan="2" width="13%" class="border" id="four" >4</th>
        <th rowspan="2" width="18%"><input type="number" id="people_picker" placeholder="＠" oninput = "value=value.replace(/[^\d]/g,'')"></th>
    </tr>
    <tr>
    </tr>
</table>

<br>

<form id="form1">
    連絡電話<br><input type="text" id="phone_number" size="30px"><br>
    <button type="button" id="confirm">訂起來</button>
</form>

</body>
</html>