<!DOCTYPE html>
<html lang="tw">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--讓畫面不要縮放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--讓js檔案可以載入https的函式庫-->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!--載入LIFF api-->
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <!--載入JQuery-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script>
        var mydate = (+new Date()).toString();
        $("head").append("<script src=\"{{ config.STATIC_URL }}/static/js/notify.js?version=" + mydate + "\"><\/script>");
        $("head").append("<link rel=\"stylesheet\" href=\"{{ config.STATIC_URL }}/static/css/notify.css?version=" + mydate + "\">")
    </script>
</head>
<body>
<!--<img src="{{ config.STATIC_URL }}/static/img/notify連動教學.jpg">-->
<button type="button" id="test" style="position: fixed; width: 100%; padding: 0px; left: 0px; z-index: 100; bottom: 0px; margin: 0px;">開始連動<</button>
</body>
</html>